<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/2d5198c15a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
        <div class="ml-auto nav-style">
          <% if user_signed_in? %>
          <li><a class="fas fa-home nav-link text-light" href="/users/8545"><p class="text-light">Home1</p></a></li>
          <li><a class="fas fa-users nav-link text-light" href="/users"> Users</a></li>
          <li><a class="fas fa-book-open nav-link text-light" href="/books"> Books</a></li>
          <li><a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
         <% else %>
           <p>
             <%= link_to root_path do %>
            <span class="fas fa-home text-light">Home</span>
            <% end %>
           </p>
         　 <li>
         　  <%= link_to root_path do %>
            <p class="fas fa-users text-light">Users</p>
            <% end %>
          　</li>
          　 <li>
          　    <%= link_to root_path do %>
            <p class="fas fa-book-open text-light">Books</p>
            <% end %>
          　</li>
          　 <li>
          　    <%= link_to root_path do %>
            <a class="fas fa-sign-out-alt text-light">logout</p>
            <% end %>
          　</li>
        　<% end %>
        </div>
  </nav>
</header>


        　<%= yield %>
  </body>
</html>
